dnspython==2.8.0
pyodbc==5.2.0
robotframework==7.3.2
robotframework-angularjs==1.0.0
robotframework-csvlib==1.0.2
robotframework-databaselibrary==2.2.0
robotframework-faker==6.0.0
robotframework-jsonlibrary==0.5
robotframework-pabot==5.1.0
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.7
robotframework-seleniumlibrary==6.7.1
robotframework-excellib==2.0.1
selenium==4.35.0
pytz==2025.2
XlsxWriter==3.2.9
robotframework-datadriver==1.11.2
robotframework-mongodb-library==3.2
robotframework-xvfb==1.2.2
robotframework-datadriver[XLS]
hl7==0.4.5
pandas==2.3.2
robotframework-imaplibrary2==0.4.11
robotframework-metrics==3.7.0
pycryptodome==3.23.0
txHL7==0.5.0
pyexcel==0.7.3
pyexcel-xlsx==0.6.1
openpyxl==3.1.5
robotframework-xvfb==1.2.2
xvfbwrapper==0.2.14



